<!DOCTYPE html>
<html>
<head>
	<title>Espace connexion</title>
</head>
<body>
	<form>
		<fieldset>
		<label for="login"> Identifiant: </label> <input type="text" name="login"> <br/ >
		<label for= "password"> Mot de passe: </label> <input type=" password" name=" password "> <br/>
		
		<fieldset>

			<input type="radio" name="role" value="tuteur"> Tuteur 
			<input type="radio" name="role" value="eleve"> Elève <br/>
	
		</fieldset>
	</fieldset>
	<input type="submit" value="Envoyer">
		
	</form>
	
	


</body>
</html>
